In [110]:
import pandas as pd
import re
import nltk
import numpy as np
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

In [66]:
data = pd.read_csv('IMDB Dataset.csv')

In [67]:
data.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [68]:
data = data.sample(10000)

In [69]:
data['sentiment'] = data['sentiment'].replace({'positive':1,'negative':0})

In [70]:
data.head()

                                                  review  sentiment
12443  This film was more effective in persuading me ...          0
47403  If this is the first of the "Nemesis" films th...          0
17251  "Campfire Tales" is basically made up of three...          1
9248   I had initially heard of TEARS OF KALI a while...          1
40054  There seems to be an overwhelming response to ...          0

In [72]:
def fun1(text):
    clean = re.compile('<.*?>')
    return re.sub(clean,'',text)

In [73]:
data['review'] = data['review'].apply(fun1)

In [74]:
def fun2(text):
    return text.lower()

In [75]:
data['review'] = data['review'].apply(fun2)

In [82]:
def fun3(text):
    x = ''
    
    for i in text:
        if i.isalnum() or i.isspace():
            x = x+i
        else:
            x = x + ''
    return x

In [77]:
data['review'] = data['review'].apply(fun3)

In [78]:
data['review']

12443    this film was more effective in persuading me ...
47403    if this is the first of the nemesis films that...
17251    campfire tales is basically made up of three s...
9248     i had initially heard of tears of kali a while...
40054    there seems to be an overwhelming response to ...
                               ...
32913    this along with hare tonic ranks as one of the...
25908    this film definitely gets a thumbs up from me ...
42699    this movie is about the crew of a spaceship wh...
27979    i have a letter from ms knight who went to col...
31609    the stone boy is an almost forgotten drama fro...
Name: review, Length: 10000, dtype: object

In [89]:
sw = stopwords.words('english')

In [92]:
def fun4(text):
    x = []
    
    for i in text.split():
        
        if i not in sw:
            x.append(i)
    y = x[:]
    x.clear()
    
    return y

In [99]:
data['review'] = data['review'].apply(fun4)

In [96]:
ps = PorterStemmer()

In [97]:
y = []
def fun5(text):
    for i in text:
        y.append(ps.stem(i))
    z = y[:]
    y.clear()
    
    return z

In [ ]:
data['review'] = data['review'].apply(fun5)

In [100]:
def fun6(text):
    return ' '.join(text)

In [101]:
data['review'] = data['review'].apply(fun6)

In [117]:
x = data['review']
y = data['sentiment']

In [118]:
cv = CountVectorizer()

In [119]:
x = cv.fit_transform(x).toarray()

In [121]:
x[:5]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [122]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=42,test_size=0.2)

In [123]:
x_train.shape

(8000, 63727)

In [124]:
m1 = GaussianNB()
m2 = MultinomialNB()
m3 = BernoulliNB()

In [ ]:
m1.fit(x_train,y_train)